<%- include('./components/header.ejs') %>
<div class="content content__items">
  <%- include("./components/card.ejs") %> <%- include("./components/card.ejs")
  %> <%- include("./components/card.ejs") %> <%-
  include("./components/card.ejs") %> <%- include("./components/card.ejs") %>
  <%- include("./components/card.ejs") %>
</div>
