<%- include('./components/header-cart.ejs') %>
<div class="cart--content">
  <div class="details">
    <h4>Podsumowanie</h4>
    <div class="details__content">
      <% if(myCart.length > 0){ %>
      <ol>
        <li>
          <span>Nr.</span>
          <span>Ilość</span>
          <span>Nazwa</span>
          <span>Cena</span>
        </li>
        <% let sum = 0 %> <% myCart.forEach((el) => { %> <% sum += el.requested*
        el.price %>
        <li class="count">
          <span><%= el.requested %>x</span>
          <span><%= el.name %></span>
          <span><%= el.requested* el.price %></span>
        </li>
        <% }); %>
      </ol>
      <p>RAZEM: <%= sum %></p>
      <% }else{ %>
      <p>Nie mam nic w koszyku</p>
      <% } %>
    </div>
  </div>
  <div class="user-data">
    <h4>Dane do wysyłki</h4>
    <%- include('./components/form.ejs') %>
  </div>
</div>

<script>
  const button = document.querySelector("#buy")
  button.addEventListener("click", () => {
    fetch("http://localhost:8003/buy",{
      method: "POST",
      body: {}
    })
  })
</script>
